<!-- 
<app-data-binding></app-data-binding>
<app-contador></app-contador>
<app-ng-if></app-ng-if>
<app-ng-switch></app-ng-switch>
<app-ng-class></app-ng-class> 
<app-ng-content>
    Exemplo de ng-content
    <p class="titulo">Titulo via app-model</p>
    <p class="conteudo">Conteudo do corpo via select ng-component</p>
</app-ng-content> 

<app-ng-style></app-ng-style> 

<app-diretivas-customizadas></app-diretivas-customizadas> -->
<app-cadastro-curso></app-cadastro-curso>
<app-curso></app-curso>

